* {
    margin: 0;
}

:root {
    --main-color: #005a9c;
    --second-color: dodgerblue;
    --third-color: 
}

i {
    color: #005a9c;
}

a {
    color: var(--main-color);
    font-weight: bold;
}

a:hover {
    color: #004b81;
}

p {
    font-size: 22px;
    width: 100%;
}

body {
   display: flex;
   flex-direction: row;
   font-family: sans-serif;
   height: 100%;
   width: 100%;
   padding: 0;
}

#left-page {
    display: flex;
    position: relative;
    height: 100vh;
    width: auto;
}

#left-title {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    position: absolute;
    top: 234px;
    background-color: rgba(0, 90, 156, 0.3);
    justify-content: center;
    align-items: center;
}

#odin-logo {
    height: 11em;
}

#image {
    height: 100vh;
    width: auto;
}

#right-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(223, 223, 223);
    font-weight: bolder;
    height: 30vh;
    width: auto;
    font-size: 1.2em;
    padding: 1em;
}

#header-text {
    display: block;
    font-size: 24px;
    width: 40vw;
    margin: 10px;
    padding: 15px;
}

#form-section {
    height: 40vh;
    width: 100%;
}

#sign-up {
    display: flex;
    flex-direction: column;
    min-height: 70%;
    box-shadow: 0px 7px 32px -15px var(--main-color);
    min-width: 700px;
    max-width: 100%;
}

#title {
    width: 100%;
    margin-left: 35px;
    margin-top: 20px;
}

#sign-up fieldset {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 65%;
    align-content: center;
    border: none;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 17px;
    margin-left: 35px;
    margin-top: 15px;
}

input {
    height: 27px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
}

input:focus {
    outline: none;
    border: 2px solid var(--main-color);
    box-shadow: 0px 7px 32px -15px var(--main-color);
}

.form-input label {
    margin: 11px;
}

#submit {
    position: relative;
}

#submit button {
    position: absolute;
    
    height: 60px;
    width: 250px;
    border: none;
    border-radius: 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 1px 9px -2px var(--main-color);
    margin: 40px;
}

#submit button:hover {
    background-color: #004b81;
}

#submit button:active {
    border: 2px solid black;
    background-color: #004b81;
}

#login {
    font-size: 20px;

    margin-left: 44px;
    margin-top: 10px;
}

#login p {
    
}