* {
    margin: 0;
}

:root {
    --main-color: #005a9c;
    --top-level: dodgerblue;
    --second-level: rgb(214, 174, 99);
    --floor-level: rgb(221, 221, 141);
}

@font-face {
    font-family: custom;
    src: url(fonts/Norse-Bold.otf);
}

i {
    color: var(--second-level);
}

a {
    color: var(--main-color);
    font-weight: bold;
}

a:hover {
    color: #004b81;
}

p {
    font-size: 22px;
    width: 100%;
}

body {
   display: flex;
   flex-direction: row;
   font-family: sans-serif;
   height: 100%;
   width: 100%;
   padding: 0;
}

#left-page {
    display: flex;
    position: relative;
    height: 100vh;
    width: max(45%, 300px);
}

#left-title {
    font-family: custom;
    color: white;
    background-color: rgba(0, 90, 156, 0.3);
    font-size: 70px;

    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    position: absolute;
    top: 234px;
    justify-content: center;
    align-items: center;
}

#odin-logo {
    height: 2.5em;
}

#image {
    height: 100vh;
    width: 100%;
}

#right-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--floor-level);
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--top-level);
    font-weight: bolder;
    height: 30vh;
    width: auto;
    font-size: 1.2em;
    padding: 1em;
}

#header-text {
    display: block;
    font-size: 24px;
    width: 80%;
    margin: 10px;
    padding: 15px;
}

#form-section {
    display: flex;
    height: auto;
    width: 100%;
    background-color: var(--floor-level);
}

#sign-up {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 700px;
    max-width: 100%;
}

#title {
    width: 100%;
    margin-left: 35px;
    margin-top: 20px;
}

#sign-up fieldset {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: auto;
    align-content: center;
    border: none;
    box-shadow: 0px 7px 32px -15px var(--main-color);
    background-color: var(--second-level);
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 15px;
    margin-left: 35px;
    margin-top: 15px;
}

input {
    width: 80%;
    height: 27px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
}

input:focus {
    outline: none;
    border: 2px solid var(--main-color);
    box-shadow: 0px 7px 32px -15px var(--main-color);
}

.form-input label {
    margin: 11px;
}

#submit {
    position: relative;
    height: 10vh;
}

#submit button {
    position: absolute;
    
    height: 60px;
    width: 250px;
    border: none;
    border-radius: 15px;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 1px 9px -2px var(--main-color);
    margin: 40px;
}

#submitbutton:hover {
    background-color: #004b81;
}

#submitbutton:active {
    border: 2px solid black;
    background-color: #004b81;
}

#footer {
    height: 20vh;
    width: auto;
    position: relative;
    background-color: var(--floor-level);
}

#login {
    width: auto;
    position: absolute;
    top: 20px;
    left: 40px;
}